<div class="modal" *ngIf="isModalShow">
  <div class="modal-overlay" (click)="hideModalWindow()"></div>
  <div class="modal-content" [@modalAnimation]>
    <div class="modal-header">
      <ng-template [ngTemplateOutlet]="modalHeader"></ng-template>
      <button (click)="hideModalWindow()" class="modal-close-btn">
        <app-svg-icon iconName="CLOSE_MODAL_SVG"></app-svg-icon>
      </button>
    </div>
    <div class="modal-body">
      <ng-template [ngTemplateOutlet]="modalBody"></ng-template>
    </div>
    <div class="modal-footer">
      <ng-template [ngTemplateOutlet]="modalFooter"></ng-template>
    </div>
  </div>
</div>
