<div class="table-container">
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Search users..." (input)="filterUsers($event)" />
  </div>
  <button class="add-user-button" (click)="openModal('createUserModal')">Add User</button>

  <ng-container *ngIf="isLoading; else dataLoaded">
    <p>Loading users...</p>
  </ng-container>

  <ng-template #dataLoaded>
    <ng-container *ngIf="filteredUsers.length > 0; else noUsers">
      <table class="user-table">
        <thead>
        <tr>
          <th>ID</th>
          <th class="sortable-column" (click)="sortTable('name')">
            <div class="header-content">
              <span>Name</span>
              <app-svg-icon iconName="SORT_ASC"></app-svg-icon>
            </div>
          </th>
          <th class="sortable-column" (click)="sortTable('email')">
            <div class="header-content">
              <span>Email</span>
              <app-svg-icon iconName="SORT_ASC"></app-svg-icon>
            </div>
          </th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="action-button edit-button" (click)="openEditModal(user)">Edit</button>
            <button class="action-button delete-button" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noUsers>
      <p>No users found.</p>
    </ng-template>
  </ng-template>
</div>


<app-modal [isModalShow]="isModalVisible('createUserModal')"
           (modalVisibleChange)="handleModalVisibilityChange('createUserModal', $event)">
  <ng-template #modalHeader>
    <h2>Create New User</h2>
  </ng-template>

  <ng-template #modalBody>
    <form [formGroup]="createUserForm" class="modal-form">
      <div class="form-group">
        <label for="createName">Name</label>
        <input id="createName" formControlName="name" type="text" class="form-control"
               [ngClass]="{'is-invalid': createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched}"/>
        <div class="error-message" *ngIf="createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched">
          <span *ngIf="createUserForm.get('name')?.errors?.['required']">Name is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="createEmail">Email</label>
        <input id="createEmail" formControlName="email" type="email" class="form-control"
               [ngClass]="{'is-invalid': createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched}"/>
        <div class="error-message" *ngIf="createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched">
          <span *ngIf="createUserForm.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="createUserForm.get('email')?.errors?.['email']">Please enter a valid email address</span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button (click)="createNewUser()" class="modal-save-button">Create</button>
    <button (click)="closeModal('createUserModal')" class="modal-cancel-button">Cancel</button>
  </ng-template>
</app-modal>

<app-modal [isModalShow]="isModalVisible('editUserModal')"
           (modalVisibleChange)="handleModalVisibilityChange('editUserModal', $event)">
  <ng-template #modalHeader>
    <h2>Edit User</h2>
  </ng-template>

  <ng-template #modalBody>
    <form [formGroup]="updateUserForm" class="modal-form">
      <div class="form-group">
        <label for="editName">Name</label>
        <input id="editName" formControlName="name" type="text" class="form-control"
               [ngClass]="{'is-invalid': updateUserForm.get('name')?.invalid && updateUserForm.get('name')?.touched}"/>
        <div class="error-message" *ngIf="updateUserForm.get('name')?.invalid && updateUserForm.get('name')?.touched">
          <span *ngIf="updateUserForm.get('name')?.errors?.['required']">Name is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="editEmail">Email</label>
        <input id="editEmail" formControlName="email" type="email" class="form-control"
               [ngClass]="{'is-invalid': updateUserForm.get('email')?.invalid && updateUserForm.get('email')?.touched}"/>
        <div class="error-message" *ngIf="updateUserForm.get('email')?.invalid && updateUserForm.get('email')?.touched">
          <span *ngIf="updateUserForm.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="updateUserForm.get('email')?.errors?.['email']">Please enter a valid email address</span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button (click)="updateExistingUser()" class="modal-save-button">Save</button>
    <button (click)="closeModal('editUserModal')" class="modal-cancel-button">Cancel</button>
  </ng-template>
</app-modal>
